* {
  margin: 0;
}

.row__posters {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 0 20px;
}
.row__poster {
  width: 200px;
  margin-right: 10px;
  margin-bottom: 5px;
  max-height: 300px;
  cursor: pointer;
  transition: transform 450ms;
}

.row__poster:hover {
  transform: scale(1.08);
}

.movie__block {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.navbar {
  width: 100%;
  margin: 15px;
  display: flex;
  justify-content: space-between;
}

.navbar-left {
  display: flex;
}

.navbar-left > * {
  margin: 8px;
}

.navbar-right > * {
  margin: 8px;
}
