.App {
  text-align: center;
}

.row__posters {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 0 20px;
}
.row__poster {
  width: 200px;
  margin-right: 10px;
  margin-bottom: 20px;
  max-height: 300px;
  transition: transform 450ms;
}

.row__poster:hover {
  transform: scale(1.08);
}
